{
  "name": "@visiblelightio/pnpm-catalog-lint",
  "version": "${node_version}",
  "description": "Lint pnpm workspaces to enforce the catalog: protocol",
  "license": "MIT",
  "bin": {
    "pnpm-catalog-lint": "./index.js"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/visiblelightio/pnpm-catalog-lint.git"
  },
  "keywords": [
    "pnpm",
    "catalog",
    "lint",
    "monorepo"
  ],
  "optionalDependencies": {
    "@visiblelightio/pnpm-catalog-lint-linux-x64": "${node_version}",
    "@visiblelightio/pnpm-catalog-lint-linux-x64-musl": "${node_version}",
    "@visiblelightio/pnpm-catalog-lint-linux-arm64": "${node_version}",
    "@visiblelightio/pnpm-catalog-lint-linux-arm64-musl": "${node_version}",
    "@visiblelightio/pnpm-catalog-lint-darwin-x64": "${node_version}",
    "@visiblelightio/pnpm-catalog-lint-darwin-arm64": "${node_version}",
    "@visiblelightio/pnpm-catalog-lint-windows-x64": "${node_version}",
    "@visiblelightio/pnpm-catalog-lint-windows-arm64": "${node_version}"
  },
  "release": {
    "branches": [
      "main"
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/github"
    ]
  }
}
